{% load i18n %}


{% if 'span_start_node_not_found' in additional_checks or 'span_end_node_not_found' in additional_checks  %}
    <h4>
        {% trans 'Node references'  %}
        {% include 'cove_ofds/additional_checks_table_failure_counter.html' with list1=additional_checks.span_start_node_not_found list2=additional_checks.span_end_node_not_found %}
    </h4>
    <p>
        {% trans 'Your data contains spans with node references that cannot be resolved. <code>Span.start</code> and <code>Span.end</code> must match the <code>.id</code> of exactly one node in the <code>/nodes</code> array.'  %}
        For more information, see
        <a target="_blank" href="https://open-fibre-data-standard.readthedocs.io/en/latest/reference/schema.html#network-schema.json,/definitions/Span,start"><code>Span.start</code></a> and
        <a target="_blank" href="https://open-fibre-data-standard.readthedocs.io/en/latest/reference/schema.html#network-schema.json,/definitions/Span,end"><code>Span.end</code></a>.
    </p>
    <table class="table">
        <thead>
            <tr>
                <th class="">{% trans 'Network ID' %}</th>
                <th class="">{% trans 'Span Id' %}</th>
                <th class="">{% trans 'Path' %}</th>
                <th class="">{% trans 'Node Id we can\'t find' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for additional_check in additional_checks.span_start_node_not_found %}
                <tr>
                    <td>
                        {{ additional_check.network_id }}
                    </td>
                    <td>
                        {{ additional_check.span_id }}
                    </td>
                    <td>
                        {{ additional_check.path }}
                    </td>
                    <td>
                        {% include "libcoveweb2/show_json_value.html" with value=additional_check.missing_node_id %}
                    </td>
                </tr>
            {% endfor %}
            {% for additional_check in additional_checks.span_end_node_not_found %}
                <tr>
                    <td>
                        {{ additional_check.network_id }}
                    </td>
                    <td>
                        {{ additional_check.span_id }}
                    </td>
                    <td>
                        {{ additional_check.path }}
                    </td>
                    <td>
                        {% include "libcoveweb2/show_json_value.html" with value=additional_check.missing_node_id %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}


{% if 'node_location_type_incorrect' in additional_checks %}
    <h4>
        {% trans 'Node location type'  %}
        {% include 'cove_ofds/additional_checks_table_failure_counter.html' with list1=additional_checks.node_location_type_incorrect %}
    </h4>
    <p>
        {% trans 'Your data contains nodes with incorrect location types. <code>/nodes/location/type</code> must be <code>Point</code>.'  %}
        For more information, see <a target="_blank" href="https://open-fibre-data-standard.readthedocs.io/en/latest/reference/schema.html#network-schema.json,/definitions/Geometry,type"><code>Geometry.type</code></a>.
    </p>
    <table class="table">
        <thead>
            <tr>
                <th class="">{% trans 'Network ID' %}</th>
                <th class="">{% trans 'Node Id' %}</th>
                <th class="">{% trans 'Path' %}</th>
                <th class="">{% trans 'Value' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for additional_check in additional_checks.node_location_type_incorrect %}
                <tr>
                    <td>
                        {{ additional_check.network_id }}
                    </td>
                    <td>
                        {{ additional_check.node_id }}
                    </td>
                    <td>
                        {{ additional_check.path }}
                    </td>
                    <td>
                        {% include "libcoveweb2/show_json_value.html" with value=additional_check.incorrect_type %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}


{% if 'node_location_coordinates_incorrect' in additional_checks %}
    <h4>
        {% trans 'Node location coordinates'  %}
        {% include 'cove_ofds/additional_checks_table_failure_counter.html' with list1=additional_checks.node_location_coordinates_incorrect %}
    </h4>
    <p>
        {% trans 'Your data contains nodes with incorrectly formatted location coordinates. <code>/nodes/location/coordinates</code> must be a single position, i.e. an array of numbers.'  %}
        For more information, see <a target="_blank" href="https://open-fibre-data-standard.readthedocs.io/en/latest/reference/schema.html#network-schema.json,/definitions/Geometry,coordinates"><code>Geometry.coordinates</code></a>.
    </p>
    <table class="table">
        <thead>
            <tr>
                <th class="">{% trans 'Network ID' %}</th>
                <th class="">{% trans 'Node Id' %}</th>
                <th class="">{% trans 'Path' %}</th>
                <th class="">{% trans 'Value' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for additional_check in additional_checks.node_location_coordinates_incorrect %}
                <tr>
                    <td>
                        {{ additional_check.network_id }}
                    </td>
                    <td>
                        {{ additional_check.node_id }}
                    </td>
                    <td>
                        {{ additional_check.path }}
                    </td>
                    <td>
                        {% include "libcoveweb2/show_json_value.html" with value=additional_check.incorrect_coordinates %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}


{% if 'span_route_type_incorrect' in additional_checks %}
    <h4>
        {% trans 'Span route type'  %}
        {% include 'cove_ofds/additional_checks_table_failure_counter.html' with list1=additional_checks.span_route_type_incorrect %}
    </h4>
    <p>
        {% trans 'Your data contains spans with incorrect route types. <code>/spans/route/type</code> must be <code>LineString</code>.'  %}
        For more information, see <a target="_blank" href="https://open-fibre-data-standard.readthedocs.io/en/latest/reference/schema.html#network-schema.json,/definitions/Geometry,type"><code>Geometry.type</code></a>.
    </p>
    <table class="table">
        <thead>
            <tr>
                <th class="">{% trans 'Network ID' %}</th>
                <th class="">{% trans 'Span Id' %}</th>
                <th class="">{% trans 'Path' %}</th>
                <th class="">{% trans 'Value' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for additional_check in additional_checks.span_route_type_incorrect %}
                <tr>
                    <td>
                        {{ additional_check.network_id }}
                    </td>
                    <td>
                        {{ additional_check.span_id }}
                    </td>
                    <td>
                        {{ additional_check.path }}
                    </td>
                    <td>
                        {% include "libcoveweb2/show_json_value.html" with value=additional_check.incorrect_type %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}


{% if 'span_route_coordinates_incorrect' in additional_checks %}
    <h4>
        {% trans 'Span route coordinates'  %}
        {% include 'cove_ofds/additional_checks_table_failure_counter.html' with list1=additional_checks.span_route_coordinates_incorrect %}
    </h4>
    <p>
        {% trans 'Your data contains spans with incorrectly formatted route coordinates. <code>/spans/route/coordinates</code> must be an array of positions, i.e. an array of arrays of numbers.'  %}
        For more information, see <a target="_blank" href="https://open-fibre-data-standard.readthedocs.io/en/latest/reference/schema.html#network-schema.json,/definitions/Geometry,coordinates"><code>Geometry.coordinates</code></a>.
    </p>
    <table class="table">
        <thead>
            <tr>
                <th class="">{% trans 'Network ID' %}</th>
                <th class="">{% trans 'Span Id' %}</th>
                <th class="">{% trans 'Path' %}</th>
                <th class="">{% trans 'Value' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for additional_check in additional_checks.span_route_coordinates_incorrect %}
                <tr>
                    <td>
                        {{ additional_check.network_id }}
                    </td>
                    <td>
                        {{ additional_check.span_id }}
                    </td>
                    <td>
                        {{ additional_check.path }}
                    </td>
                    <td>
                        {% include "libcoveweb2/show_json_value.html" with value=additional_check.incorrect_coordinates %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}


{% if 'node_phase_reference_id_not_found' in additional_checks or 'span_phase_reference_id_not_found' in additional_checks or 'contract_related_phase_reference_id_not_found' in additional_checks  %}
    <h4>
        {% trans 'Phase references'  %}
        {% include 'cove_ofds/additional_checks_table_failure_counter.html' with list1=additional_checks.node_phase_reference_id_not_found list2=additional_checks.span_phase_reference_id_not_found list3=additional_checks.contract_related_phase_reference_id_not_found %}
    </h4>
    <p>
        {% trans 'Your data contains phase references that cannot be resolved. The <code>.id</code> of each phase reference must match the <code>.id</code> of exactly one phase in the <code>/phases</code> array.'  %}
        For more information, see <a target="_blank" href="https://open-fibre-data-standard.readthedocs.io/en/latest/reference/schema.html#network-schema.json,/definitions/PhaseReference,id"><code>PhaseReference.id</code></a>.
    </p>
    {% if 'node_phase_reference_id_not_found' in additional_checks %}
        <table class="table">
            <thead>
                <tr>
                    <th class="">{% trans 'Network ID' %}</th>
                    <th class="">{% trans 'Node Id' %}</th>
                    <th class="">{% trans 'Path' %}</th>
                    <th class="">{% trans 'Value' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for additional_check in additional_checks.node_phase_reference_id_not_found %}
                    <tr>
                        <td>
                            {{ additional_check.network_id }}
                        </td>
                        <td>
                            {{ additional_check.node_id }}
                        </td>
                        <td>
                            {{ additional_check.path }}
                        </td>
                        <td>
                            {% include "libcoveweb2/show_json_value.html" with value=additional_check.phase_id_not_found %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if 'span_phase_reference_id_not_found' in additional_checks %}
        <table class="table">
            <thead>
                <tr>
                    <th class="">{% trans 'Network ID' %}</th>
                    <th class="">{% trans 'Span Id' %}</th>
                    <th class="">{% trans 'Path' %}</th>
                    <th class="">{% trans 'Value' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for additional_check in additional_checks.span_phase_reference_id_not_found %}
                    <tr>
                        <td>
                            {{ additional_check.network_id }}
                        </td>
                        <td>
                            {{ additional_check.span_id }}
                        </td>
                        <td>
                            {{ additional_check.path }}
                        </td>
                        <td>
                            {% include "libcoveweb2/show_json_value.html" with value=additional_check.phase_id_not_found %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if 'contract_related_phase_reference_id_not_found' in additional_checks %}
        <table class="table">
            <thead>
                <tr>
                    <th class="">{% trans 'Network ID' %}</th>
                    <th class="">{% trans 'Contract Id' %}</th>
                    <th class="">{% trans 'Path' %}</th>
                    <th class="">{% trans 'Value' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for additional_check in additional_checks.contract_related_phase_reference_id_not_found %}
                    <tr>
                        <td>
                            {{ additional_check.network_id }}
                        </td>
                        <td>
                            {{ additional_check.contract_id }}
                        </td>
                        <td>
                            {{ additional_check.path }}
                        </td>
                        <td>
                            {% include "libcoveweb2/show_json_value.html" with value=additional_check.phase_id_not_found %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endif %}




{% if 'node_phase_reference_name_does_not_match' in additional_checks or 'span_phase_reference_name_does_not_match' in additional_checks or 'contract_related_phase_reference_name_does_not_match' in additional_checks %}
    <h4>
        {% trans 'Phase names'  %}
        {% include 'cove_ofds/additional_checks_table_failure_counter.html' with list1=additional_checks.node_phase_reference_name_does_not_match list2=additional_checks.span_phase_reference_name_does_not_match list3=additional_checks.contract_related_phase_reference_name_does_not_match %}
    </h4>
    <p>
        {% trans 'Your data contains phase references with inconsistent names. The <code>.name</code> of each phase reference must match the <code>.name</code> of the phase it references.'  %}
        For more information, see <a target="_blank" href="https://open-fibre-data-standard.readthedocs.io/en/latest/reference/schema.html#network-schema.json,/definitions/PhaseReference,name"><code>PhaseReference.name</code></a>.
    </p>
    {% if 'node_phase_reference_name_does_not_match' in additional_checks %}
        <table class="table">
            <thead>
                <tr>
                    <th class="">{% trans 'Network ID' %}</th>
                    <th class="">{% trans 'Node Id' %}</th>
                    <th class="">{% trans 'Path' %}</th>
                    <th class="">{% trans 'Value' %}</th>
                    <th class="">{% trans 'Phase name' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for additional_check in additional_checks.node_phase_reference_name_does_not_match %}
                    <tr>
                        <td>
                            {{ additional_check.network_id }}
                        </td>
                        <td>
                            {{ additional_check.node_id }}
                        </td>
                        <td>
                            {{ additional_check.path }}
                        </td>
                        <td>
                            {% include "libcoveweb2/show_json_value.html" with value=additional_check.name_in_reference %}
                        </td>
                        <td>
                            {% include "libcoveweb2/show_json_value.html" with value=additional_check.name_should_be %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if 'span_phase_reference_name_does_not_match' in additional_checks %}
        <table class="table">
            <thead>
                <tr>
                    <th class="">{% trans 'Network ID' %}</th>
                    <th class="">{% trans 'Span Id' %}</th>
                    <th class="">{% trans 'Path' %}</th>
                    <th class="">{% trans 'Value' %}</th>
                    <th class="">{% trans 'Phase name' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for additional_check in additional_checks.span_phase_reference_name_does_not_match %}
                    <tr>
                        <td>
                            {{ additional_check.network_id }}
                        </td>
                        <td>
                            {{ additional_check.span_id }}
                        </td>
                        <td>
                            {{ additional_check.path }}
                        </td>
                        <td>
                            {% include "libcoveweb2/show_json_value.html" with value=additional_check.name_in_reference %}
                        </td>
                        <td>
                            {% include "libcoveweb2/show_json_value.html" with value=additional_check.name_should_be %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if 'contract_related_phase_reference_name_does_not_match' in additional_checks %}
        <table class="table">
            <thead>
                <tr>
                    <th class="">{% trans 'Network ID' %}</th>
                    <th class="">{% trans 'Contract Id' %}</th>
                    <th class="">{% trans 'Path' %}</th>
                    <th class="">{% trans 'Value' %}</th>
                    <th class="">{% trans 'Phase name' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for additional_check in additional_checks.contract_related_phase_reference_name_does_not_match %}
                    <tr>
                        <td>
                            {{ additional_check.network_id }}
                        </td>
                        <td>
                            {{ additional_check.contract_id }}
                        </td>
                        <td>
                            {{ additional_check.path }}
                        </td>
                        <td>
                            {% include "libcoveweb2/show_json_value.html" with value=additional_check.name_in_reference %}
                        </td>
                        <td>
                            {% include "libcoveweb2/show_json_value.html" with value=additional_check.name_should_be %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endif %}


{% if 'node_organisation_reference_id_not_found' in additional_checks or 'span_organisation_reference_id_not_found' in additional_checks or 'phase_organisation_reference_id_not_found' in additional_checks %}
    <h4>
        {% trans 'Organisation references'  %}
        {% include 'cove_ofds/additional_checks_table_failure_counter.html' with list1=additional_checks.node_organisation_reference_id_not_found list2=additional_checks.span_organisation_reference_id_not_found list3=additional_checks.phase_organisation_reference_id_not_found %}
    </h4>
    <p>
        {% trans 'Your data contains organisation references that cannot be resolved. The <code>.id</code> of each organisation reference must match the <code>.id</code> of exactly one organisation in the <code>/organisations</code> array.'  %}
        For more information, see <a target="_blank" href="https://open-fibre-data-standard.readthedocs.io/en/latest/reference/schema.html#network-schema.json,/definitions/OrganisationReference,id"><code>OrganisationReference.id</code></a>.
    </p>
    {% if 'node_organisation_reference_id_not_found' in additional_checks %}
        <table class="table">
            <thead>
                <tr>
                    <th class="">{% trans 'Network ID' %}</th>
                    <th class="">{% trans 'Node Id' %}</th>
                    <th class="">{% trans 'Path' %}</th>
                    <th class="">{% trans 'Value' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for additional_check in additional_checks.node_organisation_reference_id_not_found %}
                    <tr>
                        <td>
                            {{ additional_check.network_id }}
                        </td>
                        <td>
                            {{ additional_check.node_id }}
                        </td>
                        <td>
                            {{ additional_check.path }}
                        </td>
                        <td>
                            {% include "libcoveweb2/show_json_value.html" with value=additional_check.organisation_id_not_found %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if 'span_organisation_reference_id_not_found' in additional_checks %}
        <table class="table">
            <thead>
                <tr>
                    <th class="">{% trans 'Network ID' %}</th>
                    <th class="">{% trans 'Span Id' %}</th>
                    <th class="">{% trans 'Path' %}</th>
                    <th class="">{% trans 'Value' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for additional_check in additional_checks.span_organisation_reference_id_not_found %}
                    <tr>
                        <td>
                            {{ additional_check.network_id }}
                        </td>
                        <td>
                            {{ additional_check.span_id }}
                        </td>
                        <td>
                            {{ additional_check.path }}
                        </td>
                        <td>
                            {% include "libcoveweb2/show_json_value.html" with value=additional_check.organisation_id_not_found %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if 'phase_organisation_reference_id_not_found' in additional_checks %}
        <table class="table">
            <thead>
                <tr>
                    <th class="">{% trans 'Network ID' %}</th>
                    <th class="">{% trans 'Phase Id' %}</th>
                    <th class="">{% trans 'Path' %}</th>
                    <th class="">{% trans 'Value' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for additional_check in additional_checks.phase_organisation_reference_id_not_found %}
                    <tr>
                        <td>
                            {{ additional_check.network_id }}
                        </td>
                        <td>
                            {{ additional_check.phase_id }}
                        </td>
                        <td>
                            {{ additional_check.path }}
                        </td>
                        <td>
                            {% include "libcoveweb2/show_json_value.html" with value=additional_check.organisation_id_not_found %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endif %}



{% if 'node_organisation_reference_name_does_not_match' in additional_checks or 'span_organisation_reference_name_does_not_match' in additional_checks or 'phase_organisation_reference_name_does_not_match' in additional_checks %}
    <h4>
        {% trans 'Organisation names'  %}
        {% include 'cove_ofds/additional_checks_table_failure_counter.html' with list1=additional_checks.node_organisation_reference_name_does_not_match list2=additional_checks.span_organisation_reference_name_does_not_match list3=additional_checks.phase_organisation_reference_name_does_not_match %}
    </h4>
    <p>
        {% trans 'Your data contains organisation references with inconsistent names. The <code>.name</code> of each organisation reference must match the <code>.name</code> of the organisation it references.'  %}
        For more information, see <a target="_blank" href="https://open-fibre-data-standard.readthedocs.io/en/latest/reference/schema.html#network-schema.json,/definitions/OrganisationReference,name"><code>OrganisationReference.name</code></a>.
    </p>
    {% if 'node_organisation_reference_name_does_not_match' in additional_checks %}
        <table class="table">
            <thead>
                <tr>
                    <th class="">{% trans 'Network ID' %}</th>
                    <th class="">{% trans 'Node Id' %}</th>
                    <th class="">{% trans 'Field' %}</th>
                    <th class="">{% trans 'Path' %}</th>
                    <th class="">{% trans 'Value' %}</th>
                    <th class="">{% trans 'Organisation name' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for additional_check in additional_checks.node_organisation_reference_name_does_not_match %}
                    <tr>
                        <td>
                            {{ additional_check.network_id }}
                        </td>
                        <td>
                            {{ additional_check.node_id }}
                        </td>
                        <td>
                            {{ additional_check.field }}
                        </td>
                        <td>
                            {{ additional_check.path }}
                        </td>
                        <td>
                            {% include "libcoveweb2/show_json_value.html" with value=additional_check.name_in_reference %}
                        </td>
                        <td>
                            {% include "libcoveweb2/show_json_value.html" with value=additional_check.name_should_be %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if 'span_organisation_reference_name_does_not_match' in additional_checks %}
        <table class="table">
            <thead>
                <tr>
                    <th class="">{% trans 'Network ID' %}</th>
                    <th class="">{% trans 'Span Id' %}</th>
                    <th class="">{% trans 'Field' %}</th>
                    <th class="">{% trans 'Path' %}</th>
                    <th class="">{% trans 'Value' %}</th>
                    <th class="">{% trans 'Organisation name' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for additional_check in additional_checks.span_organisation_reference_name_does_not_match %}
                    <tr>
                        <td>
                            {{ additional_check.network_id }}
                        </td>
                        <td>
                            {{ additional_check.span_id }}
                        </td>
                        <td>
                            {{ additional_check.field }}
                        </td>
                        <td>
                            {{ additional_check.path }}
                        </td>
                        <td>
                            {% include "libcoveweb2/show_json_value.html" with value=additional_check.name_in_reference %}
                        </td>
                        <td>
                            {% include "libcoveweb2/show_json_value.html" with value=additional_check.name_should_be %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if 'phase_organisation_reference_name_does_not_match' in additional_checks %}
        <table class="table">
            <thead>
                <tr>
                    <th class="">{% trans 'Network ID' %}</th>
                    <th class="">{% trans 'Phase ID' %}</th>
                    <th class="">{% trans 'Path' %}</th>
                    <th class="">{% trans 'Value' %}</th>
                    <th class="">{% trans 'Organisation name' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for additional_check in additional_checks.phase_organisation_reference_name_does_not_match %}
                    <tr>
                        <td>
                            {{ additional_check.network_id }}
                        </td>
                        <td>
                            {{ additional_check.phase_id }}
                        </td>
                        <td>
                            {{ additional_check.path }}
                        </td>
                        <td>
                            {% include "libcoveweb2/show_json_value.html" with value=additional_check.name_in_reference %}
                        </td>
                        <td>
                            {% include "libcoveweb2/show_json_value.html" with value=additional_check.name_should_be %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endif %}


{% if 'node_international_connections_country_not_set' in additional_checks %}
    <h4>
        {% trans 'International connection countries'  %}
        {% include 'cove_ofds/additional_checks_table_failure_counter.html' with list1=additional_checks.node_international_connections_country_not_set  %}
    </h4>
    <p>
        {% trans 'Your data contains nodes with international connections that do not specify a country. <code>.country</code> must be set for each international connection in <code>/nodes/internationalConnections</code>.'  %}
        For more information, see <a target="_blank" href="https://open-fibre-data-standard.readthedocs.io/en/latest/reference/schema.html#network-schema.json,/definitions/Node,internationalConnections"><code>Node.internationalConnections</code></a>.
    </p>
    <table class="table">
        <thead>
            <tr>
                <th class="">{% trans 'Network ID' %}</th>
                <th class="">{% trans 'Node Id' %}</th>
                <th class="">{% trans 'Path' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for additional_check in additional_checks.node_international_connections_country_not_set %}
                <tr>
                    <td>
                        {{ additional_check.network_id }}
                    </td>
                    <td>
                        {{ additional_check.node_id }}
                    </td>
                    <td>
                        {{ additional_check.path }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}


{% if 'node_not_used_in_any_spans' in additional_checks %}
    <h4>
        {% trans 'Unreferenced nodes'  %}
        {% include 'cove_ofds/additional_checks_table_failure_counter.html' with list1=additional_checks.node_not_used_in_any_spans  %}
    </h4>
    <p>{% trans 'Your data contains nodes that are not referenced by any spans.'  %}</p>
    <table class="table">
        <thead>
            <tr>
                <th class="">{% trans 'Network ID' %}</th>
                <th class="">{% trans 'Node Id' %}</th>
                <th class="">{% trans 'Path' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for additional_check in additional_checks.node_not_used_in_any_spans %}
                <tr>
                    <td>
                        {{ additional_check.network_id }}
                    </td>
                    <td>
                        {{ additional_check.node_id }}
                    </td>
                    <td>
                        {{ additional_check.path }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}



{% if 'duplicate_node_id' in additional_checks or 'duplicate_span_id' in additional_checks or 'duplicate_phase_id' in additional_checks or 'duplicate_organisation_id' in additional_checks or 'duplicate_contract_id' in additional_checks %}
    <h4>
        {% trans 'Non-unique identifiers'  %}
        {% include 'cove_ofds/additional_checks_table_failure_counter.html' with list1=additional_checks.duplicate_node_id list2=additional_checks.duplicate_span_id list3=additional_checks.duplicate_phase_id list4=additional_checks.duplicate_organisation_id  list5=additional_checks.duplicate_contract_id %}
    </h4>
    <p>
        {% trans 'Your data contains non-unique identifiers.' %}
        For more information, see <a target="_blank" href="https://open-fibre-data-standard.readthedocs.io/en/latests/reference/identifiers.html#local-identifiers">identifiers</a>.
    </p>
    {% if 'duplicate_node_id' in additional_checks %}
        <table class="table">
            <thead>
                <tr>
                    <th class="">{% trans 'Network ID' %}</th>
                    <th class="">{% trans 'Node Id' %}</th>
                    <th class="">{% trans 'Path' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for additional_check in additional_checks.duplicate_node_id %}
                    <tr>
                        <td>
                            {{ additional_check.network_id }}
                        </td>
                        <td>
                            {{ additional_check.node_id }}
                        </td>
                        <td>
                            {{ additional_check.path }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if 'duplicate_span_id' in additional_checks %}
        <table class="table">
            <thead>
                <tr>
                    <th class="">{% trans 'Network ID' %}</th>
                    <th class="">{% trans 'Span Id' %}</th>
                    <th class="">{% trans 'Path' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for additional_check in additional_checks.duplicate_span_id %}
                    <tr>
                        <td>
                            {{ additional_check.network_id }}
                        </td>
                        <td>
                            {{ additional_check.span_id }}
                        </td>
                        <td>
                            {{ additional_check.path }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if 'duplicate_phase_id' in additional_checks %}
        <table class="table">
            <thead>
                <tr>
                    <th class="">{% trans 'Network ID' %}</th>
                    <th class="">{% trans 'Phase Id' %}</th>
                    <th class="">{% trans 'Path' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for additional_check in additional_checks.duplicate_phase_id %}
                    <tr>
                        <td>
                            {{ additional_check.network_id }}
                        </td>
                        <td>
                            {{ additional_check.phase_id }}
                        </td>
                        <td>
                            {{ additional_check.path }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if 'duplicate_organisation_id' in additional_checks %}
        <table class="table">
            <thead>
                <tr>
                    <th class="">{% trans 'Network ID' %}</th>
                    <th class="">{% trans 'Organisation Id' %}</th>
                    <th class="">{% trans 'Path' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for additional_check in additional_checks.duplicate_organisation_id %}
                    <tr>
                        <td>
                            {{ additional_check.network_id }}
                        </td>
                        <td>
                            {{ additional_check.organisation_id }}
                        </td>
                        <td>
                            {{ additional_check.path }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if 'duplicate_contract_id' in additional_checks %}
        <table class="table">
            <thead>
                <tr>
                    <th class="">{% trans 'Network ID' %}</th>
                    <th class="">{% trans 'Contract Id' %}</th>
                    <th class="">{% trans 'Path' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for additional_check in additional_checks.duplicate_contract_id %}
                    <tr>
                        <td>
                            {{ additional_check.network_id }}
                        </td>
                        <td>
                            {{ additional_check.contract_id }}
                        </td>
                        <td>
                            {{ additional_check.path }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endif %}

