{% load i18n %}


{% if 'span_start_node_not_found' in additional_checks or 'span_end_node_not_found' in additional_checks  %}
    <h3>{% trans 'Node references'  %}</h3>
    <p>{% trans 'Your data contains spans with node references that cannot be resolved. `Span.start` and `Span.end` must match the `.id` of exactly one node in the `/nodes` array.'  %}</p>
    {% if 'span_start_node_not_found' in additional_checks %}
        <p><a target="_blank" href="https://open-fibre-data-standard.readthedocs.io/en/0.1-dev/reference/schema.html#network-schema.json,/definitions/Span,start">{% trans 'Schema Documentation' %}</a></p>
    {% endif %}
    {% if 'span_end_node_not_found' in additional_checks %}
        <p><a target="_blank" href="https://open-fibre-data-standard.readthedocs.io/en/0.1-dev/reference/schema.html#network-schema.json,/definitions/Span,end">{% trans 'Schema Documentation' %}</a></p>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th class="">{% trans 'Node Id we can\'t find' %}</th>
                <th class="">{% trans 'Span Id' %}</th>
                <th class="">{% trans 'Network ID' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for additional_check in additional_checks.span_start_node_not_found %}
                <tr>
                    <td>
                        {{ additional_check.missing_node_id }}
                    </td>
                    <td>
                        {{ additional_check.span_id }}
                    </td>
                    <td>
                        {{ additional_check.network_id }}
                    </td>
                </tr>
            {% endfor %}
            {% for additional_check in additional_checks.span_end_node_not_found %}
                <tr>
                    <td>
                        {{ additional_check.missing_node_id }}
                    </td>
                    <td>
                        {{ additional_check.span_id }}
                    </td>
                    <td>
                        {{ additional_check.network_id }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}


{% if 'node_location_type_incorrect' in additional_checks %}
    <h3>{% trans 'Node location type'  %}</h3>
    <p>{% trans 'Your data contains nodes with incorrect location types. `/nodes/location/type` must be `Point`.'  %}</p>
    <p><a target="_blank" href="https://open-fibre-data-standard.readthedocs.io/en/0.1-dev/reference/schema.html#network-schema.json,/definitions/Geometry,type">{% trans 'Schema Documentation' %}</a></p>
    <table class="table">
        <thead>
            <tr>
                <th class="">{% trans 'Node Id' %}</th>
                <th class="">{% trans 'Network ID' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for additional_check in additional_checks.node_location_type_incorrect %}
                <tr>
                    <td>
                        {{ additional_check.node_id }}
                    </td>
                    <td>
                        {{ additional_check.network_id }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}


{% if 'node_location_coordinates_incorrect' in additional_checks %}
    <h3>{% trans 'Node location coordinates'  %}</h3>
    <p>{% trans 'Your data contains nodes with incorrectly formatted location coordinates. `/nodes/location/coordinates` must be a single position, i.e. an array of numbers.'  %}</p>
    <p><a target="_blank" href="https://open-fibre-data-standard.readthedocs.io/en/0.1-dev/reference/schema.html#network-schema.json,/definitions/Geometry,coordinates">{% trans 'Schema Documentation' %}</a></p>
    <table class="table">
        <thead>
            <tr>
                <th class="">{% trans 'Node Id' %}</th>
                <th class="">{% trans 'Network ID' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for additional_check in additional_checks.node_location_coordinates_incorrect %}
                <tr>
                    <td>
                        {{ additional_check.node_id }}
                    </td>
                    <td>
                        {{ additional_check.network_id }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}


{% if 'span_route_type_incorrect' in additional_checks %}
    <h3>{% trans 'Span route geometry'  %}</h3>
    <p>{% trans 'Your data contains spans with incorrect route types. `/spans/route/type` must be `LineString`.'  %}</p>
    <p><a target="_blank" href="https://open-fibre-data-standard.readthedocs.io/en/0.1-dev/reference/schema.html#network-schema.json,/definitions/Geometry,type">{% trans 'Schema Documentation' %}</a></p>
    <table class="table">
        <thead>
            <tr>
                <th class="">{% trans 'Span Id' %}</th>
                <th class="">{% trans 'Network ID' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for additional_check in additional_checks.span_route_type_incorrect %}
                <tr>
                    <td>
                        {{ additional_check.span_id }}
                    </td>
                    <td>
                        {{ additional_check.network_id }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}


{% if 'span_route_coordinates_incorrect' in additional_checks %}
    <h3>{% trans 'Span route coordinates'  %}</h3>
    <p>{% trans 'Your data contains spans with incorrectly formatted route coordinates. `/spans/route/coordinates` must be an array of positions, i.e. an array of arrays of numbers.'  %}</p>
    <p><a target="_blank" href="https://open-fibre-data-standard.readthedocs.io/en/0.1-dev/reference/schema.html#network-schema.json,/definitions/Geometry,coordinates">{% trans 'Schema Documentation' %}</a></p>
    <table class="table">
        <thead>
            <tr>
                <th class="">{% trans 'Span Id' %}</th>
                <th class="">{% trans 'Network ID' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for additional_check in additional_checks.span_route_coordinates_incorrect %}
                <tr>
                    <td>
                        {{ additional_check.span_id }}
                    </td>
                    <td>
                        {{ additional_check.network_id }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}


{% if 'node_phase_reference_id_not_found' in additional_checks or 'span_phase_reference_id_not_found' in additional_checks or 'contract_related_phase_reference_id_not_found' in additional_checks  %}
    <h3>{% trans 'Phase references'  %}</h3>
    <p>{% trans 'Your data contains phase references that cannot be resolved. The `.id` of each phase reference must match the `.id` of exactly one phase in the `/phases` array.'  %}</p>
    <p><a target="_blank" href="https://open-fibre-data-standard.readthedocs.io/en/0.1-dev/reference/schema.html#network-schema.json,/definitions/PhaseReference,id">{% trans 'Schema Documentation' %}</a></p>
    {% if 'node_phase_reference_id_not_found' in additional_checks %}
        <table class="table">
            <thead>
                <tr>
                    <th class="">{% trans 'Node Id' %}</th>
                    <th class="">{% trans 'Network ID' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for additional_check in additional_checks.node_phase_reference_id_not_found %}
                    <tr>
                        <td>
                            {{ additional_check.node_id }}
                        </td>
                        <td>
                            {{ additional_check.network_id }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if 'span_phase_reference_id_not_found' in additional_checks %}
        <table class="table">
            <thead>
                <tr>
                    <th class="">{% trans 'Span Id' %}</th>
                    <th class="">{% trans 'Network ID' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for additional_check in additional_checks.span_phase_reference_id_not_found %}
                    <tr>
                        <td>
                            {{ additional_check.span_id }}
                        </td>
                        <td>
                            {{ additional_check.network_id }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if 'contract_related_phase_reference_id_not_found' in additional_checks %}
        <table class="table">
            <thead>
                <tr>
                    <th class="">{% trans 'Contract Id' %}</th>
                    <th class="">{% trans 'Network ID' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for additional_check in additional_checks.contract_related_phase_reference_id_not_found %}
                    <tr>
                        <td>
                            {{ additional_check.contract_id }}
                        </td>
                        <td>
                            {{ additional_check.network_id }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endif %}




{% if 'node_phase_reference_name_does_not_match' in additional_checks or 'span_phase_reference_name_does_not_match' in additional_checks or 'contract_related_phase_reference_name_does_not_match' in additional_checks %}
    <h3>{% trans 'Phase names'  %}</h3>
    <p>{% trans 'Your data contains phase references with inconsistent names. The `.name` of each phase reference must match the `.name` of the phase it references.'  %}</p>
    <p><a target="_blank" href="https://open-fibre-data-standard.readthedocs.io/en/0.1-dev/reference/schema.html#network-schema.json,/definitions/PhaseReference,name">{% trans 'Schema Documentation' %}</a></p>
    {% if 'node_phase_reference_name_does_not_match' in additional_checks %}
        <table class="table">
            <thead>
                <tr>
                    <th class="">{% trans 'Node Id' %}</th>
                    <th class="">{% trans 'Network ID' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for additional_check in additional_checks.node_phase_reference_name_does_not_match %}
                    <tr>
                        <td>
                            {{ additional_check.node_id }}
                        </td>
                        <td>
                            {{ additional_check.network_id }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if 'span_phase_reference_name_does_not_match' in additional_checks %}
        <table class="table">
            <thead>
                <tr>
                    <th class="">{% trans 'Span Id' %}</th>
                    <th class="">{% trans 'Network ID' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for additional_check in additional_checks.span_phase_reference_name_does_not_match %}
                    <tr>
                        <td>
                            {{ additional_check.span_id }}
                        </td>
                        <td>
                            {{ additional_check.network_id }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if 'contract_related_phase_reference_name_does_not_match' in additional_checks %}
        <table class="table">
            <thead>
                <tr>
                    <th class="">{% trans 'Contract Id' %}</th>
                    <th class="">{% trans 'Network ID' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for additional_check in additional_checks.contract_related_phase_reference_name_does_not_match %}
                    <tr>
                        <td>
                            {{ additional_check.contract_id }}
                        </td>
                        <td>
                            {{ additional_check.network_id }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endif %}


{% if 'node_organisation_reference_id_not_found' in additional_checks or 'node_organisation_reference_id_not_found' in additional_checks or 'phase_organisation_reference_id_not_found' in additional_checks %}
    <h3>{% trans 'Organisation references'  %}</h3>
    <p>{% trans 'Your data contains organisation references that cannot be resolved. The `.id` of each organisation reference must match the `.id` of exactly one organisation in the `/organisations` array.'  %}</p>
    <p><a target="_blank" href="https://open-fibre-data-standard.readthedocs.io/en/0.1-dev/reference/schema.html#network-schema.json,/definitions/OrganisationReference,id">{% trans 'Schema Documentation' %}</a></p>
    {% if 'node_organisation_reference_id_not_found' in additional_checks %}
        <table class="table">
            <thead>
                <tr>
                    <th class="">{% trans 'Field' %}</th>
                    <th class="">{% trans 'Node Id' %}</th>
                    <th class="">{% trans 'Network ID' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for additional_check in additional_checks.node_organisation_reference_id_not_found %}
                    <tr>
                        <td>
                            {{ additional_check.field }}
                        </td>
                        <td>
                            {{ additional_check.node_id }}
                        </td>
                        <td>
                            {{ additional_check.network_id }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if 'span_organisation_reference_id_not_found' in additional_checks %}
        <table class="table">
            <thead>
                <tr>
                    <th class="">{% trans 'Field' %}</th>
                    <th class="">{% trans 'Span Id' %}</th>
                    <th class="">{% trans 'Network ID' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for additional_check in additional_checks.span_organisation_reference_id_not_found %}
                    <tr>
                        <td>
                            {{ additional_check.field }}
                        </td>
                        <td>
                            {{ additional_check.span_id }}
                        </td>
                        <td>
                            {{ additional_check.network_id }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if 'phase_organisation_reference_id_not_found' in additional_checks %}
        <table class="table">
            <thead>
                <tr>
                    <th class="">{% trans 'Phase Id' %}</th>
                    <th class="">{% trans 'Network ID' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for additional_check in additional_checks.phase_organisation_reference_id_not_found %}
                    <tr>
                        <td>
                            {{ additional_check.phase_id }}
                        </td>
                        <td>
                            {{ additional_check.network_id }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endif %}



{% if 'node_organisation_reference_name_does_not_match' in additional_checks %}
    <h3>{% trans 'Organisation names'  %}</h3>
    <p>{% trans 'Your data contains organisation references with inconsistent names. The `.name` of each organisation reference must match the `.name` of the organisation it references.'  %}</p>
    <p><a target="_blank" href="https://open-fibre-data-standard.readthedocs.io/en/0.1-dev/reference/schema.html#network-schema.json,/definitions/OrganisationReference,name">{% trans 'Schema Documentation' %}</a></p>
    {% if 'node_organisation_reference_name_does_not_match' in additional_checks %}
        <table class="table">
            <thead>
                <tr>
                    <th class="">{% trans 'Field' %}</th>
                    <th class="">{% trans 'Node Id' %}</th>
                    <th class="">{% trans 'Network ID' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for additional_check in additional_checks.node_organisation_reference_name_does_not_match %}
                    <tr>
                        <td>
                            {{ additional_check.field }}
                        </td>
                        <td>
                            {{ additional_check.node_id }}
                        </td>
                        <td>
                            {{ additional_check.network_id }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if 'span_organisation_reference_name_does_not_match' in additional_checks %}
        <table class="table">
            <thead>
                <tr>
                    <th class="">{% trans 'Field' %}</th>
                    <th class="">{% trans 'Span Id' %}</th>
                    <th class="">{% trans 'Network ID' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for additional_check in additional_checks.span_organisation_reference_name_does_not_match %}
                    <tr>
                        <td>
                            {{ additional_check.field }}
                        </td>
                        <td>
                            {{ additional_check.span_id }}
                        </td>
                        <td>
                            {{ additional_check.network_id }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if 'phase_organisation_reference_name_does_not_match' in additional_checks %}
        <table class="table">
            <thead>
                <tr>
                    <th class="">{% trans 'Phase ID' %}</th>
                    <th class="">{% trans 'Network ID' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for additional_check in additional_checks.phase_organisation_reference_name_does_not_match %}
                    <tr>
                        <td>
                            {{ additional_check.phase_id }}
                        </td>
                        <td>
                            {{ additional_check.network_id }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endif %}


{% if 'node_international_connections_country_not_set' in additional_checks %}
    <h3>{% trans 'International connection countries'  %}</h3>
    <p>{% trans 'Your data contains nodes with international connections that do not specify a country. `.country` must be set for each international connection in `/nodes/internationalConnections`.'  %}</p>
    <p><a target="_blank" href="https://open-fibre-data-standard.readthedocs.io/en/0.1-dev/reference/schema.html#network-schema.json,/definitions/Node,internationalConnections">{% trans 'Schema Documentation' %}</a></p>
    <table class="table">
        <thead>
            <tr>
                <th class="">{% trans 'Node Id' %}</th>
                <th class="">{% trans 'Network ID' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for additional_check in additional_checks.node_international_connections_country_not_set %}
                <tr>
                    <td>
                        {{ additional_check.node_id }}
                    </td>
                    <td>
                        {{ additional_check.network_id }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}


{% if 'node_not_used_in_any_spans' in additional_checks %}
    <h3>{% trans 'Unreferenced nodes'  %}</h3>
    <p>{% trans 'Your data contains nodes that are not referenced by any spans.'  %}</p>
    <table class="table">
        <thead>
            <tr>
                <th class="">{% trans 'Node Id' %}</th>
                <th class="">{% trans 'Network ID' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for additional_check in additional_checks.node_not_used_in_any_spans %}
                <tr>
                    <td>
                        {{ additional_check.node_id }}
                    </td>
                    <td>
                        {{ additional_check.network_id }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

