{% extends 'explore.html' %}
{% load i18n %}
{% load cove_tags %}
{% block header_button %}
  <a href="{% url 'index' %}" class="btn btn-large btn-success">{% trans 'Load New File' %}</a>
{% endblock %}

{% block explore_content %}

    <div class="row">
         <div class="panel {% if unknown_schema_version_used or inconsistent_schema_version_used_count %}panel-danger{% else %}panel-success{% endif %}">
            <div id="validation-panel" class="panel-heading pointer" role="region" aria-expanded="true" aria-controls="validationTable" data-toggle="collapse" data-target="#validationTable">
              <h4 class="panel-title">
                <span class="glyphicon glyphicon-collapse-up"></span>{% trans 'Schema Version' %}
              </h4>
            </div>
            <div id="validationTable" class="collapse in panel-body">
                <p>{% trans 'Schema Version Used' %}: {{  schema_version_used  }}</p>
            </div>
          </div>
    </div>

    <div class="row">

            <div class="panel panel-success">
                <div id="download-panel" class="panel-heading pointer" role="region" aria-expanded="true" aria-controls="downloadData" data-toggle="collapse" data-target="#downloadData">
                    <span class="glyphicon glyphicon-collapse-up"></span>{% trans 'Download Data' %}
                  </h4>
                </div>
                <div id="downloadData" class="collapse in panel-body">

                    <p>
                        {% if original_format == 'json' %}
                            {% trans 'You uploaded data in JSON format.' %}
                        {% elif original_format == 'spreadsheet' %}
                            {% trans 'You uploaded data in a spreadshet format.' %}
                        {% elif original_format == 'geojson' %}
                            {% trans 'You uploaded data in a GeoJSON format.' %}
                        {% endif %}
                    </p>

                    <p>
                        {% trans 'You can download your original data:' %}
                    </p>

                    <ul class="list-unstyled">
                        {% for supplied_data_file in supplied_data_files %}
                            <li>
                                <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                                <a href="{{ supplied_data_file.upload_url  }}">{{ supplied_data_file.filename }} ({{   supplied_data_file.size|filesizeformat }})</a>
                            </li>
                        {% endfor %}
                    </ul>

                    {% if can_download_geojson or can_download_xlsx or can_download_ods or can_download_json %}
                        <p>{% trans 'We converted this to the following formats for you:' %}</p>
                        <ul class="list-unstyled">
                            {% if can_download_json %}
                              <li>
                                  <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                                  <a href="{{download_json_url}}">{% trans 'JSON' %} ({{   download_json_size|filesizeformat }})</a>
                              </li>
                            {% endif %}
                            {% if can_download_geojson %}
                              <li>
                                  <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                                  <a href="{{download_geojson_nodes_url}}">{% trans 'Nodes GeoJSON' %} ({{   download_geojson_nodes_size|filesizeformat }})</a>
                              </li>
                              <li>
                                  <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                                  <a href="{{download_geojson_spans_url}}">{% trans 'Spans GeoJSON' %} ({{   download_geojson_spans_size|filesizeformat }})</a>
                              </li>
                            {% endif %}
                            {% if can_download_xlsx %}
                              <li>
                                  <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                                  <a href="{{download_xlsx_url}}">{% trans 'Spreadsheet (XLSX)' %} ({{   download_xlsx_size|filesizeformat }})</a>
                              </li>
                            {% endif %}
                            {% if can_download_ods %}
                              <li>
                                  <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                                  <a href="{{download_ods_url}}">{% trans 'Spreadsheet (ODS)' %} ({{   download_ods_size|filesizeformat }})</a>
                              </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
    </div>

    <div class="row">

        {% block key_facts %}
        {% endblock %}

        {% if validation_errors %}
              {% for error_json, values in validation_errors %}
                {% with error=error_json|json_decode %}
                  {% cove_modal_errors className="validation-errors-"|concat:forloop.counter modalTitle=error.message errorList=values file_type=file_type full_table=True %}
                {% endwith %}
              {% endfor %}


              <a name="validation-errors" class="anchor"></a>
              <div class="panel panel-danger">
                <div id="validation-panel" class="panel-heading pointer" role="region" aria-expanded="true" aria-controls="validationTable" data-toggle="collapse" data-target="#validationTable">
                  <h4 class="panel-title">
                    <span class="glyphicon glyphicon-collapse-up"></span>{% trans 'Validation Errors' %}
                  </h4>
                </div>
                <div id="validationTable" class="collapse in panel-body">
                  {% include "validation_table.html" %}
                </div>
              </div>
        {% else %}
             <div class="panel panel-success">
                <div id="validation-panel" class="panel-heading pointer" role="region" aria-expanded="true" aria-controls="validationTable" data-toggle="collapse" data-target="#validationTable">
                  <h4 class="panel-title">
                    <span class="glyphicon glyphicon-collapse-up"></span>{% trans 'Validation Errors' %}
                  </h4>
                </div>
                <div id="validationTable" class="collapse in panel-body">
                    <p>{% trans 'There were no validation errors!' %}</p>
                </div>
              </div>
        {% endif %}

    </div>



    <div class="row">

        {% if additional_fields_count %}

              <a name="additional-fields" class="anchor"></a>
              <div class="panel panel-danger">
                <div id="validation-panel" class="panel-heading pointer" role="region" aria-expanded="true" aria-controls="validationTable" data-toggle="collapse" data-target="#additionalFieldsTable">
                  <h4 class="panel-title">
                    <span class="glyphicon glyphicon-collapse-up"></span>{% trans 'Additional Fields' %}
                  </h4>
                </div>
                <div id="additionalFieldsTable" class="collapse in panel-body">
                  {% include "additional_fields_table.html" %}
                </div>
              </div>
        {% else %}
             <div class="panel panel-success">
                <div id="validation-panel" class="panel-heading pointer" role="region" aria-expanded="true" aria-controls="validationTable" data-toggle="collapse" data-target="#additionalFieldsTable">
                  <h4 class="panel-title">
                    <span class="glyphicon glyphicon-collapse-up"></span>{% trans 'Additional Fields' %}
                  </h4>
                </div>
                <div id="additionalFieldsTable" class="collapse in panel-body">
                    <p>{% trans 'There were no additional fields!' %}</p>
                </div>
              </div>
        {% endif %}

    </div>

    <div class="row">

        <a name="additional-checks" class="anchor"></a>
        <div {% if additional_checks_count %}class="panel panel-danger" {% else %}class="panel panel-success"{% endif %}>
            <div id="checks-panel" class="panel-heading pointer" role="region" aria-expanded="true"
                 aria-controls="additionalChecksTable" data-toggle="collapse" data-target="#additionalChecksTable">
                <h4 class="panel-title">
                    <span class="glyphicon glyphicon-collapse-up"></span>{% trans 'Additional Checks' %}
                </h4>
            </div>
            <div id="additionalChecksTable" class="collapse in panel-body">
                {% if additional_checks_count %}
                    {% include "cove_ofds/additional_checks_table.html" %}
                {% else %}
                    <p>{% trans 'All checks passed!' %}</p>
                {% endif %}

            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-success">
            <div id="statistics-panel" class="panel-heading pointer" role="region" aria-expanded="true"
                 aria-controls="validationTable" data-toggle="collapse" data-target="#statisticsTable">
                <h4 class="panel-title">
                    <span class="glyphicon glyphicon-collapse-up"></span>{% trans 'Statistics' %}
                </h4>
            </div>
            <div id="statisticsTable" class="collapse in panel-body">



            </div>
        </div>
    </div>

    <div class="row">
      <div class="panel panel-success">
          <div id="statistics-panel" class="panel-heading pointer" role="region" aria-expanded="true"
               aria-controls="validationTable" data-toggle="collapse" data-target="#mapVisualisation">
              <h4 class="panel-title">
                  <span class="glyphicon glyphicon-collapse-up"></span>{% trans 'Map' %}
              </h4>
          </div>
          <div id="mapVisualisation" class="collapse in panel-body">
            {% if can_download_geojson %}
              <div id="map" class="map" style="width: 100%; height: 600px;"></div>
            {% else %}
              <div>
                <p>{% trans 'There are no GeoJSON files to visualise!' %}</p>
              </div>
            {% endif %}
          </div>
      </div>
  </div>

{% endblock explore_content %}

{% block extrafooterscript %}
  {{ block.super }}
  {% if can_download_geojson %}
    <script>
      var map = L.map('map').setView([9.072973, 7.481621], 6);
      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);

      var geojsonMarkerOptions = {
        radius: 6,
        fillColor: "#0000FF",
        color: "#000",
        weight: 1,
        opacity: 1,
        fillOpacity: 0.8
      };

      var generatePopup = function (layer) {
        return `<p><strong>Name:</strong> ${layer.feature.properties.name || 'Unknown'}</p>
        <p><strong>Network:</strong> ${layer.feature.properties.network.name || 'Unknown'}</p>
        <p><strong>Phase:</strong> ${layer.feature.properties.phase.name || 'Unknown'}</p>`;
      } 

      var customOptions = {
        'maxWidth': '400',
        'width': '200',
        'className' : 'popupCustom'
      }

      function addLayer(jsonData) {
        return L.geoJSON(jsonData, {
          pointToLayer: function (feature, latlng) {
              return L.circleMarker(latlng, geojsonMarkerOptions);
          },
          style: {color: '#000000'}
        }).bindPopup(layer => generatePopup(layer), customOptions)
        .addTo(map);
      }

      function getGeoJSON(url) {
        fetch(url, {
          method: 'get'
        })
        .then(response => response.json())
        .then(jsonData => addLayer(jsonData))
        .then(layer => map.fitBounds(layer.getBounds()))
        .catch(err => {
          console.error(`Could not download data or create layer: `, err);
          var mapElement = document.getElementById('mapVisualisation')
          mapElement.innerHTML = `<p>{% trans 'There was an error loading: ${url.substring(url.lastIndexOf("/") + 1, url.length)}' %}</p>` + mapElement.innerHTML
        });
      }

      var geoJsonFiles = ['{{download_geojson_spans_url}}', '{{download_geojson_nodes_url}}']
      geoJsonFiles.forEach(geoJsonFile => getGeoJSON(geoJsonFile))
    </script>
  {% endif %}
{% endblock %}


{% block topcontent1 %}
{% endblock %}
{% block bottomcontent1 %}
{% endblock %}
{% block bottomcontent2 %}
{% endblock %}
