{% extends 'libcoveweb2/explore.html' %}
{% load i18n %}
{% load cove_tags %}
{% block header_button %}
  <a href="{% url 'index' %}" class="btn btn-large btn-success">{% trans 'Load New File' %}</a>
{% endblock %}

{% block explore_content %}

    <div class="row">
         <div class="panel {% if unknown_schema_version_used or inconsistent_schema_version_used_count %}panel-danger{% else %}panel-info{% endif %}">
            <div id="validation-panel" class="panel-heading pointer" role="region" aria-expanded="true" aria-controls="validationTable" data-toggle="collapse" data-target="#validationTable">
              <h4 class="panel-title">
                <span class="glyphicon glyphicon-collapse-up"></span>{% trans 'Schema Version' %}
              </h4>
            </div>
            <div id="validationTable" class="collapse in panel-body">
                <p>{% trans 'Your data was checked against schema version' %}: {{  schema_version_used  }}</p>
            </div>
          </div>
    </div>


    {% if has_links_with_external_node_data or has_links_with_external_span_data %}
        <div class="row">
             <div class="panel panel-warning">
                <div id="unchecked-data-panel" class="panel-heading pointer" role="region" aria-expanded="true" aria-controls="unchecked-data" data-toggle="collapse" data-target="#unchecked-data">
                  <h4 class="panel-title">
                    <span class="glyphicon glyphicon-collapse-up"></span>{% trans 'Unchecked data' %}
                  </h4>
                </div>
                <div id="unchecked-data" class="collapse in panel-body">
                    <p>{% trans 'Your data contains links to API endpoints or bulk files. The additional data available from the links has not been checked. You can check the data by embedding it in network package and submitting it to CoVE. For more information, see '  %}<a target="_blank" href="https://open-fibre-data-standard.readthedocs.io/en/latest/reference/schema.html#network-schema.json,,links"><code>/links</code></a>.</p>
                </div>
              </div>
        </div>
    {% endif %}

    <div class="row">

        <div class="panel panel-success">
            <div id="conversion-panel" class="panel-heading pointer" role="region" aria-expanded="true"
                 aria-controls="dataConversion" data-toggle="collapse" data-target="#downloadData">
                <h4 class="panel-title">
                    <span class="glyphicon glyphicon-collapse-up"></span>{% trans 'Data conversion' %}
                </h4>
            </div>
            <div id="dataConversion" class="collapse in panel-body">

                <p>
                    Download the data that you submitted in either its original format or in alternative formats. For more information, see the <a href="https://open-fibre-data-standard.readthedocs.io/en/latest/reference/publication_formats/index.html" target="_blank">publication format reference</a>. If you are investigating an error, you might find the alternative formats easier to use.
                </p>

                <div class="row">
                    <div class="col-md-4">


                        <div class="panel {% if original_format == 'json' %}panel-info{% else %}panel-success{% endif %}">
                            <div id="download-json-panel" class="panel-heading pointer" role="region" aria-expanded="true"
                                 aria-controls="dataConversion" data-toggle="collapse" data-target="#downloadDataJSON">
                                <h4 class="panel-title">
                                    <span class="glyphicon glyphicon-collapse-up"></span>{% trans 'JSON' %} {% if original_format == 'json' %}{% trans '(original)' %}{% endif %}
                                </h4>
                            </div>
                            <div id="downloadDataJSON" class="collapse in panel-body">
                                {% if original_format == 'json' %}
                                    <ul class="list-unstyled">
                                        {% for supplied_data_file in supplied_data_files %}
                                        <li>
                                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                                            <a href="{{ supplied_data_file.upload_url  }}">{{ supplied_data_file.filename }} ({{ supplied_data_file.size|filesizeformat }})</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    {% if can_download_json %}
                                        <p>{% trans 'Your data was successfully converted to JSON format.' %}</p>
                                        <ul class="list-unstyled">
                                            <li>
                                                <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                                                <a href="{{download_json_url}}">{% trans 'JSON' %} ({{ download_json_size|filesizeformat }})</a>
                                            </li>
                                        </ul>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">

                        <div class="panel {% if original_format == 'geojson' %}panel-info{% else %}panel-success{% endif %}">
                            <div id="download-geojson-panel" class="panel-heading pointer" role="region"
                                 aria-expanded="true" aria-controls="dataConversion" data-toggle="collapse"
                                 data-target="#downloadDataGeoJSON">
                                <h4 class="panel-title">
                                    <span class="glyphicon glyphicon-collapse-up"></span>{% trans 'GeoJSON' %} {% if original_format == 'geojson' %}{% trans '(original)' %}{% endif %}
                                </h4>
                            </div>
                            <div id="downloadDataGeoJSON" class="collapse in panel-body">
                                {% if original_format == 'geojson' %}
                                    <ul class="list-unstyled">
                                        {% for supplied_data_file in supplied_data_files %}
                                        <li>
                                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                                            <a href="{{ supplied_data_file.upload_url  }}">{{ supplied_data_file.filename }} ({{ supplied_data_file.size|filesizeformat }})</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    {% if can_download_geojson %}
                                        <p>{% trans 'Your data was successfully converted to GeoJSON format.' %}</p>
                                        <ul class="list-unstyled">
                                            <li>
                                                <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                                                <a href="{{download_geojson_nodes_url}}">nodes.geojson ({{ download_geojson_nodes_size|filesizeformat }})</a>
                                            </li>
                                            <li>
                                                <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                                                <a href="{{download_geojson_spans_url}}">spans.geojson ({{ download_geojson_spans_size|filesizeformat }})</a>
                                            </li>
                                        </ul>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">

                        <div class="panel {% if original_format == 'csvs' %}panel-info{% else %}panel-success{% endif %}">
                            <div id="download-csvs-panel" class="panel-heading pointer" role="region" aria-expanded="true"
                                 aria-controls="dataConversion" data-toggle="collapse" data-target="#downloadDataCSVs">
                                <h4 class="panel-title">
                                    <span class="glyphicon glyphicon-collapse-up"></span>{% trans 'CSV' %} {% if original_format == 'csvs' %}{% trans '(original)' %}{% endif %}
                                </h4>
                            </div>
                            <div id="downloadDataCSVs" class="collapse in panel-body">
                                {% if original_format == 'csvs' %}
                                    <ul class="list-unstyled">
                                        {% for supplied_data_file in supplied_data_files %}
                                        <li>
                                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                                            <a href="{{ supplied_data_file.upload_url  }}">{{ supplied_data_file.filename }} ({{ supplied_data_file.size|filesizeformat }})</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    {% if can_download_csvs %}
                                        <p>{% trans 'Your data was successfully converted to CSV format.' %}</p>
                                        <ul class="list-unstyled">
                                            <li>
                                                <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                                                <a href="{{download_csvs_zip_url}}">data.zip (compressed, {{ download_csvs_zip_size|filesizeformat }})</a>
                                            </li>
                                        </ul>
                                        <p>Uncompressed:</p>
                                        <ul class="list-unstyled">
                                            {% for file in download_csv_individual_files %}
                                                <li>
                                                    <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                                                    <a href="{{file.url}}">{{ file.name }} ({{ file.size|filesizeformat }})</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="row">

        {% block key_facts %}
        {% endblock %}

        {% if validation_errors %}
              <div class="panel panel-danger">
                <div id="validation-panel" class="panel-heading pointer" role="region" aria-expanded="true" aria-controls="validationTable" data-toggle="collapse" data-target="#validationTable">
                  <h4 class="panel-title">
                    <span class="glyphicon glyphicon-collapse-up"></span>{% trans 'Structure and Format' %}
                  </h4>
                </div>
                <div id="validationTable" class="collapse in panel-body">
                  <p>{% trans 'The structure and format of your data does not conform to the OFDS schema. You should check your mapping and data pipeline for errors. ' %}{% if original_format != 'json' %}{% trans 'Your data was converted to JSON format and checked against the OFDS schema. Errors are reported according to their location in the JSON format version of your data. ' %}{% endif %}{% trans 'For more information, see the ' %}<a target="_blank" href="https://open-fibre-data-standard.readthedocs.io/en/latest/reference">{% trans 'reference documentation' %}</a>.</p>
                  {% include "cove_ofds/jsonschema_validation_panel.html" %}
                </div>
              </div>
        {% else %}
             <div class="panel panel-success">
                <div id="validation-panel" class="panel-heading pointer" role="region" aria-expanded="true" aria-controls="validationTable" data-toggle="collapse" data-target="#validationTable">
                  <h4 class="panel-title">
                    <span class="glyphicon glyphicon-collapse-up"></span>{% trans 'Structure and Format' %}
                  </h4>
                </div>
                <div id="validationTable" class="collapse in panel-body">
                    <p>{% trans 'The structure and format of your data conforms to the OFDS schema.' %}</p>
                </div>
              </div>
        {% endif %}

    </div>



    <div class="row">

        {% if additional_fields_count %}

              <a name="additional-fields" class="anchor"></a>
              <div class="panel panel-warning">
                <div id="additional-fields-panel" class="panel-heading pointer" role="region" aria-expanded="true" aria-controls="additionalFieldsTable" data-toggle="collapse" data-target="#additionalFieldsTable">
                  <h4 class="panel-title">
                    <span class="glyphicon glyphicon-collapse-up"></span>{% trans 'Additional Fields' %}
                  </h4>
                </div>
                <div id="additionalFieldsTable" class="collapse in panel-body">
                  <p>{% trans 'Your data contains additional fields that are not part of the OFDS schema. ' %}{% if original_format != 'json' %}{% trans 'Additional fields are reported according to their location in the JSON format version of your data.' %}{% endif %}{% trans ' You should:' %}</p>
                  <ul>
                    <li>{% trans 'Check that additional fields are not the result of typos in field names or other errors in your mapping or data pipeline.' %}</li>
                    <li>{% trans 'Check whether the data in these fields could be provided by using a field in the OFDS schema.' %}</li>
                    <li>{% trans 'Document the structure, format and meaning of additional fields in your ' %}<a href="https://open-fibre-data-standard.readthedocs.io/en/latest/guidance/publication.html#how-to-write-a-data-user-guide">{% trans 'data user guide' %}</a>.</li>
                  </ul>
                  <p>{% trans 'For more information, see ' %}<a href="https://open-fibre-data-standard.readthedocs.io/en/latest/guidance/publication.html#how-to-add-additional-fields">{% trans 'how to add additional fields' %}</a>.</p>
                  {% include "libcoveweb2/additional_fields_table.html" %}
                </div>
              </div>
        {% else %}
             <div class="panel panel-info">
                <div id="additional-fields-panel" class="panel-heading pointer" role="region" aria-expanded="true" aria-controls="additionalFieldsTable" data-toggle="collapse" data-target="#additionalFieldsTable">
                  <h4 class="panel-title">
                    <span class="glyphicon glyphicon-collapse-up"></span>{% trans 'Additional Fields' %}
                  </h4>
                </div>
                <div id="additionalFieldsTable" class="collapse in panel-body">
                    <p>{% trans 'Your data contains no additional fields. For more information, see ' %}<a href="https://open-fibre-data-standard.readthedocs.io/en/latest/guidance/publication.html#how-to-add-additional-fields">{% trans 'how to add additional fields' %}</a>.</p>
                </div>
              </div>
        {% endif %}

    </div>

    <div class="row">

        <a name="additional-checks" class="anchor"></a>
        <div class="panel {% if additional_checks_level == 'Error' %}panel-danger{% elif additional_checks_level == 'Warning' %}panel-warning{% else %}panel-success{% endif %}">
            <div id="checks-panel" class="panel-heading pointer" role="region" aria-expanded="true"
                 aria-controls="additionalChecksTable" data-toggle="collapse" data-target="#additionalChecksTable">
                <h4 class="panel-title">
                    <span class="glyphicon glyphicon-collapse-up"></span>{% trans 'Additional Checks' %}
                </h4>
            </div>
            <div id="additionalChecksTable" class="collapse in panel-body">
                {% if additional_checks_count %}
                <p>{% trans 'Your data failed the following additional checks. You should check your mapping and data pipeline for errors.' %}{% if original_format != 'json' %}{% trans ' Failures are reported according to their location in the JSON format version of your data.' %}{% endif %}</p>
                    {% include "cove_ofds/additional_checks_table.html" %}
                {% else %}
                    <p>{% trans 'Your data passed all additional checks.' %}</p>
                {% endif %}

            </div>
        </div>
    </div>

    <div class="row">
      <div class="panel {% if any_nodes_with_geometry == False and any_spans_with_geometry == False %}panel-warning{% elif can_download_geojson == False %}panel-danger{% else %}panel-success{% endif %}">
          <div id="visualisation-panel" class="panel-heading pointer" role="region" aria-expanded="true"
               aria-controls="validationTable" data-toggle="collapse" data-target="#mapVisualisation">
              <h4 class="panel-title">
                  <span class="glyphicon glyphicon-collapse-up"></span>{% trans 'Visualisation' %}
              </h4>
          </div>
          <div id="mapVisualisation" class="collapse in panel-body">
            {% if any_nodes_with_geometry == False and any_spans_with_geometry == False %}
              <div>
                <p>{% trans 'Your data cannot be visualised on a map because it does not contain coordinates. If you expected your data to include coordinates, you should check your mapping and data pipeline for errors. For more information, see ' %}<a href="https://open-fibre-data-standard.readthedocs.io/en/0.1-dev/reference/schema.html#geometry">{% trans 'Geometry' %}</a>.</p>
              </div>
            {% elif can_download_geojson == False %}
              <div>
                <p>{% trans 'Your data cannot be visualised on a map because there were errors loading it. You should check your mapping and data pipeline for errors.' %}</p>
              </div>
            {% else %}
              <p>{% trans 'The GeoJSON version of your data is visualised on the map below. You should check that nodes and spans appear in the correct location. If not, you should check that your coordinates are in longitude, latitude order. You may need to ' %}<a href="https://open-fibre-data-standard.readthedocs.io/en/0.1-dev/guidance/publication.html#how-to-transform-coordinates-to-the-correct-coordinate-reference-system">{% trans 'transform your coordinates to the correct coordinate reference system' %}</a>.</p>            
              <div class="form-group">
                <label for="nodeFieldSelect">Select a Node data field for colour-coding:</label>
                <select class="form-control" id="nodeFieldSelect" onchange="generateMap(true)">
                  {% for field, label in nodes_fields.items %}
                    <option value="{{ field }}">{{ label }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="spanFieldSelect">Select a Span data field for colour-coding:</label>
                <select class="form-control" id="spanFieldSelect" onchange="generateMap(true)">
                  {% for field, label in spans_fields.items %}
                    <option value="{{ field }}">{{ label }}</option>
                  {% endfor %}
                </select>
              </div>
              <div id="map" class="map" style="width: 100%; height: 600px;"></div>
            {% endif %}
          </div>
      </div>
  </div>

{% endblock explore_content %}

{% block extrafooterscript %}
  {{ block.super }}
  {% if can_download_geojson %}{% if any_nodes_with_geometry or any_spans_with_geometry %}
  {{ nodes_fields|json_script:"node-fields" }}
  {{ spans_fields|json_script:"span-fields" }}
    <script>
      function geojsonMarkerOptions(colour) {
        return {
          radius: 6,
          fillColor: colour,
          color: colour,
          weight: 1,
          opacity: 1,
          fillOpacity: 0.6
        }
      };

      function generatePopup(layer) {
        return `
          <p><strong>Name:</strong> ${layer?.feature?.properties?.name || 'Unknown'}</p>
          <p><strong>Network:</strong> ${layer?.feature?.properties?.network?.name || 'Unknown'}</p>
          <p><strong>Network provider:</strong> ${layer?.feature?.properties?.networkProvider?.name || 'Unknown'}</p>
          <p><strong>Physical infrastructure provider:</strong> ${layer?.feature?.properties?.physicalInfrastructureProvider?.name || 'Unknown'}</p>
          <p><strong>Phase:</strong> ${layer?.feature?.properties?.phase?.name || 'Unknown'}</p>
        `;
      } 

      var customOptions = {
        'maxWidth': '400',
        'width': '200',
        'className' : 'popupCustom'
      }

      var networkColours = [
        '#e31a1c',
        '#1f78b4',
        '#33a02c',
        '#fb9a99',
        '#fdbf6f',
        '#6a3d9a',
        '#ff7f00',
      ];

      //sample legend - needs customisation
      function generateLegendItems(layerData) {
        return Object.values(layerData).map(networkValues => {
          var isNode = networkValues.type === 'Point' ? true : false
          return {
            label: `${networkValues.name} (${isNode ? 'Node' : 'Span'})`,
            type: isNode ? 'circle' : 'polyline',
            radius: 6,
            color: networkValues.colour,
            fillColor: networkValues.colour,
            fillOpacity: 0.6,
            weight: 2,
          }
        })
      }

      function getFeatureID(feature, field) {
        if (feature?.properties[field]?.id !== undefined) {
          return feature.properties[field].id
        } else if ((feature?.properties[field] !== undefined)) {
          return feature.properties[field]
        } else {
          return "unknown"
        }
      }

      function getJsonFromDict(feature) {
        if (feature.geometry.type === 'Point') {
          return JSON.parse(document.getElementById('node-fields').textContent);
        } else if (feature.geometry.type === 'LineString') {
          return JSON.parse(document.getElementById('span-fields').textContent);
        } else {
          throw "The field options cannot be found."
        }
      }

        
      function getFeatureName(feature, field) {
        var fieldOptions = getJsonFromDict(feature);
        if (feature?.properties[field]?.name !== undefined) {
          return feature.properties[field].name
        } else if ((feature?.properties[field] !== undefined)) {
          return `${fieldOptions[field]}: ${feature?.properties[field] || 'no data'}`
        } else {
          return `${fieldOptions[field]}: ${feature?.properties[field] || 'no data'}`
        }
      }

      function generateFeatureData(features, field) {
        var uniqueIDs = [...new Set(features.map((feature) => getFeatureID(feature, field)))]
        var featureDetails = uniqueIDs.map((uniqueNetwork, index) => {
          var uniqueFeature = features.find(feature => getFeatureID(feature, field) === uniqueNetwork);
          var fieldName = getFeatureName(uniqueFeature, field);
          var networkColour = {[uniqueNetwork]: {
            name: [fieldName],
            type: uniqueFeature.geometry.type,
            colour: networkColours[index % networkColours.length]
          }}
          return networkColour
        })
        return Object.assign({}, ...featureDetails);
      }

      var map = L.map('map').setView([9.072973, 7.481621], 6);
      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);

      var nodeLayerGroup = L.layerGroup().addTo(map);
      var spanLayerGroup = L.layerGroup().addTo(map);
      var legend = {}

      async function getSpans() {
        return fetch(spanLink, {method: 'get'}).then(response => response.json()).then(async spanJson => {
          var spanSelect = document.getElementById("spanFieldSelect").value;
          var spanFeatureData = generateFeatureData(spanJson.features, spanSelect)
          var layer = await L.geoJson(spanJson, {
            style: function(feature) {
              return {color: spanFeatureData[getFeatureID(feature, spanSelect)]['colour']}
            }
          }).bindPopup(layer => generatePopup(layer), customOptions)
          spanLayerGroup.addLayer(layer)
          map.fitBounds(layer.getBounds())
          return generateLegendItems(spanFeatureData)
        }).catch(err => {
          console.log("The Spans data could not be loaded.");
          return [];
        })
      }

      async function getNodes() {
        return fetch(nodeLink, {method: 'get'}).then(response => response.json()).then(async nodeJson => {
          var nodeSelect = document.getElementById("nodeFieldSelect").value;
          var nodeFeatureData = generateFeatureData(nodeJson.features, nodeSelect)
          var layer = await L.geoJson(nodeJson, {
            pointToLayer: function (feature, latlng) {
              return L.circleMarker(latlng, geojsonMarkerOptions(nodeFeatureData[getFeatureID(feature, nodeSelect)]['colour']));
            },
            style: function(feature) {
              return {color: nodeFeatureData[getFeatureID(feature, nodeSelect)]['colour']}
            }
          }).bindPopup(layer => generatePopup(layer), customOptions)
          nodeLayerGroup.addLayer(layer)
          map.fitBounds(layer.getBounds())
          return generateLegendItems(nodeFeatureData)
        }).catch(err => {
          console.log("The Nodes data could not be loaded.")
          return [];
        })
      }


      async function generateMapData(spanLink, nodeLink) {
        var [nodeLegendItems, spanLegendItems] = await Promise.all([getNodes(), getSpans()])
        var legendItems = [...nodeLegendItems, ...spanLegendItems]
        legend = L.control.Legend({
          title: 'Legend',
          position: "bottomleft",
          collapsed: false,
          symbolWidth: 24,
          opacity: 1,
          column: 1,
          legends: legendItems
        }).addTo(map)
      }

      var spanLink = '{{download_geojson_spans_url}}';
      var nodeLink = '{{download_geojson_nodes_url}}';

      function generateMap(refresh=false) {
        try {
          legend?.options?.title === "Legend" && refresh && map.removeControl(legend) 
          refresh && nodeLayerGroup.clearLayers()
          refresh && spanLayerGroup.clearLayers()
          generateMapData(spanLink, nodeLink);
        } 
        catch(err) {
          console.error(`Could not download data or create layer: `, err);
          var mapElement = document.getElementById('mapVisualisation')
          mapElement.innerHTML = `<p>{% trans 'There was an error loading: ${url.substring(url.lastIndexOf("/") + 1, url.length)}' %}</p>` + mapElement.innerHTML
        }
      }
      
      generateMap();

    </script>
  {% endif %}{% endif %}
{% endblock %}


{% block topcontent1 %}
{% endblock %}
{% block bottomcontent1 %}
{% endblock %}
{% block bottomcontent2 %}
{% endblock %}
