{% extends request.current_app_base_template %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}


    <p>
      Use the form below to submit your data and check that it conforms to the <a href="https://open-fibre-data-standard.readthedocs.io/en/latest/" target="_blank">Open Fibre Data Standard</a> (OFDS). You can submit data in either JSON, GeoJSON, CSV or spreadsheet format.
        For more information, see the <a href="https://open-fibre-data-standard.readthedocs.io/en/latest/reference/publication_formats/index.html" target="_blank">publication format reference</a>.
    </p>
    <p>
      After submitting your data, you can download it in alternative formats, get feedback on its quality and visualise it on a map. Data is stored for 90 days at a randomly generated URL. You can share the URL with others to support discussion of data quality.
    </p>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 30px;">
      <li class="active">
          <a href="#json" role="tab" data-toggle="tab">
              JSON
          </a>
      </li>
      <li>
          <a href="#geojson" role="tab" data-toggle="tab">
              GeoJSON
          </a>
      </li>
      <li>
          <a href="#csvs" role="tab" data-toggle="tab">
            CSV
          </a>
      </li>
      <li>
          <a href="#spreadsheet" role="tab" data-toggle="tab">
            Spreadsheet
          </a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane fade active in" id="json">

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h4 class="panel-title">
                    <a class="accordion-toggle">
                      <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>{% trans "Upload" %}
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">

                    <p>
                      <strong>Accepted formats:</strong> a UTF-8 encoded JSON file that conforms to the <a href="https://open-fibre-data-standard.readthedocs.io/en/latest/reference/publication_formats/json.html#small-files-and-api-responses-option" target="_blank">JSON small files and API responses publication format</a>.
                    </p>

                    <form method="POST" action="{% url 'new_json' %}" enctype="multipart/form-data">{% csrf_token %}
                        {% bootstrap_form forms.json.upload_form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">
                                {% trans 'Submit' %}
                            </button>
                        {% endbuttons %}
                    </form>
                  </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  <h4 class="panel-title">
                    <a class="accordion-toggle">
                      <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>{% trans "Paste" %}
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <form method="POST" action="{% url 'new_json' %}" enctype="multipart/form-data">{% csrf_token %}
                        {% bootstrap_form forms.json.text_form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">
                                {% trans 'Submit' %}
                            </button>
                        {% endbuttons %}
                    </form>
                  </div>
                </div>
            </div>


      </div>
      <div class="tab-pane fade" id="geojson">

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                  <h4 class="panel-title">
                    <a class="accordion-toggle">
                      <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>{% trans "Upload" %}
                    </a>
                  </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                  <div class="panel-body">

                    <p>
                      <strong>Accepted formats:</strong> UTF-8 encoded GeoJSON files that conform to the <a href="https://open-fibre-data-standard.readthedocs.io/en/latest/reference/publication_formats/geojson.html#small-files-and-api-responses-option" target="_blank">GeoJSON small files and API responses publication format</a>.
                    </p>

                    <form method="POST" action="{% url 'new_geojson' %}" enctype="multipart/form-data">{% csrf_token %}
                        {% bootstrap_form forms.geojson.upload_form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">
                                {% trans 'Submit' %}
                            </button>
                        {% endbuttons %}
                    </form>
                  </div>
                </div>
            </div>

      </div>
      <div class="tab-pane fade" id="csvs">

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingSeven" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                  <h4 class="panel-title">
                    <a class="accordion-toggle">
                      <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>{% trans "Upload" %}
                    </a>
                  </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSeven">
                  <div class="panel-body">

                    <p>
                      <strong>Accepted formats:</strong> UTF-8 encoded CSV files that conform to the <a href="https://open-fibre-data-standard.readthedocs.io/en/latest/reference/publication_formats/csv.html" target="_blank">CSV publication format</a>.
                    </p>

                    <form method="POST" action="{% url 'new_csvs' %}" enctype="multipart/form-data">{% csrf_token %}
                        {% bootstrap_form forms.csvs.upload_form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">
                                {% trans 'Submit' %}
                            </button>
                        {% endbuttons %}
                    </form>
                  </div>
                </div>
            </div>

      </div>
      <div class="tab-pane fade" id="spreadsheet">

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTen" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                  <h4 class="panel-title">
                    <a class="accordion-toggle">
                      <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>{% trans "Upload" %}
                    </a>
                  </h4>
                </div>
                <div id="collapseTen" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTen">
                  <div class="panel-body">

                    <p>
                      <strong>Accepted formats:</strong> a UTF-8, Windows-1252 or ISO-8859-1 encoded .xlsx or .ods file with sheets that conform to the <a href="https://open-fibre-data-standard.readthedocs.io/en/latest/reference/publication_formats/csv.html" target="_blank">CSV publication format</a>.
                    </p>

                    <form method="POST" action="{% url 'new_spreadsheet' %}" enctype="multipart/form-data">{% csrf_token %}
                        {% bootstrap_form forms.spreadsheet.upload_form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">
                                {% trans 'Submit' %}
                            </button>
                        {% endbuttons %}
                    </form>
                  </div>
                </div>
            </div>

      </div>
    </div>



{% endblock %}
