{% load i18n %}
{% load cove_tags %}

<table class="table table-condensed">
  <thead>
    <tr>
      <th>{% trans 'Error Description' %}</th>
      <th>{% trans 'Error Count' %}</th>
      <th>{% trans 'Location of first 3 errors' %}</th>
      <th>{% trans 'Ids of first 3 errors' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for key, errors in validation_errors.items %}

      <tr>
        <td>
          <p>
            {{ errors.0.message }}
          </p>
        </td>
        <td>
          <ul class="list-unstyled">
            {% for error in errors|slice:":3" %}
              <li> {{value.value}} </li>
            {% endfor %}
          </ul>
        </td>
        <td>
          <ul class="list-unstyled">
            {% for error in errors|slice:":3" %}
              <li>
                {{ error.path }}
              </li>
            {% endfor %}
          </ul>
        </td>
        <td>
          <ul class="list-unstyled">
            {% for error in errors|slice:":3" %}
              <li>
                {% if error.data_ids.network_id or error.data_ids.span_id or error.data_ids.node_id %}
                  {% if error.data_ids.network_id %}
                    {% trans 'Network' %}: {{ error.data_ids.network_id }}
                  {% endif %}
                  {% if error.data_ids.span_id %}
                    {% trans 'Span' %}: {{ error.data_ids.span_id }}
                  {% endif %}
                  {% if error.data_ids.node_id %}
                    {% trans 'Node' %}: {{ error.data_ids.node_id }}
                  {% endif %}
                {% else %}
                  N/A
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
