.full_width_header
  background-color: #ccc
  margin-bottom: 40px
  .page-header
    margin-top: 10px
    border-bottom: 0px
    margin-bottom: 0px
    padding-bottom: 0px
    .border-bottom 
      border-bottom: 1px solid black

.application-name
  padding-top: 14px
  padding-bottom: 5px
  display: inline-block

.beta
  display: inline-block
  padding-left: 3px
  color: white;

.docs-link 
  padding-left: 15px
  border-left: 1px solid white
  margin-top: 0px
  padding-top: 22px
  margin-bottom: 0px
  padding-bottom: 22px


.small-tfoot td
  border-top: none !important
  line-height: 0 !important
  padding-top: 20px !important
  color:#777

.font-tick
  font-family: 'tick'
  margin-right: 5px
  &.tick
    color: green
    &::after
      content: '\2713'
  &.cross
    color: red
    &::after
      content: '\2715'
  &.question
    color: orange
    &::after
      content: '?'

.in-panel-warning
  padding: 10px
  margin-bottom: 10px

.ofds-header-button .btn
  float: right
  position: relative
  margin-bottom: -10px
  border-color: #9BAF00
  font-size: 17px
  color: white
  bottom: 25px

// Leaflet tooltip styling
.popupCustom .leaflet-popup-content-wrapper
  background: #CCC
  color: #000
  font-size: 16px
  line-height: 24px

.popupCustom .leaflet-popup-content-wrapper a
  color: rgba(255,255,255,0.5)

.popupCustom .leaflet-popup-tip-container
  width: 30px
  height: 15px

.popupCustom .leaflet-popup-tip
  border-right: 15px solid #CCC
  border-top: 15px solid #CCC

.popupCustom p
  margin: 0

.leaflet-legend-item span
  display: inline
  font-size: 16px
  margin-left: 10px

// Leaflet legend styling
.leaflet-legend-contents
  max-height: 275px
  overflow-y: auto

a code,
a pre
  color: #337ab7
  background-color: #f2f3f9

h4.validation-title
  display: flex
  justify-content: space-between
  
  button.btn-link
    color: #777

    &:hover,
    &:focus,
    &:active
      color: #333
